<div class="row-fluid">
    <div class="span2">
        <img data-src="holder.js/120x120" alt="">
    </div>
    <div class="span10">
        <h4>{{ note.title }}</h4>
        <p>{{ note.message }}</p>
    </div>
</div>